ConsumidorWebServiceJava/Web References/br.com.devmedia.dotnet.webservice/PrimeiroSoapWSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.ws.devmedia.com.br/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PrimeiroSoapWSService" targetNamespace="http://soap.ws.devmedia.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="unqualified" targetNamespace="http://soap.ws.devmedia.com.br/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="carro" type="tns:carro" />
      <xs:element name="getMeusCarros" type="tns:getMeusCarros" />
      <xs:element name="getMeusCarrosResponse" type="tns:getMeusCarrosResponse" />
      <xs:element name="getMinhaPrimeiraLista" type="tns:getMinhaPrimeiraLista" />
      <xs:element name="getMinhaPrimeiraListaResponse" type="tns:getMinhaPrimeiraListaResponse" />
      <xs:element name="ping" type="tns:ping" />
      <xs:element name="pingResponse" type="tns:pingResponse" />
      <xs:complexType name="ping">
        <xs:sequence>
          <xs:element minOccurs="0" name="nome" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="pingResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMeusCarros">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getMeusCarrosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:carro" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="carro">
        <xs:sequence>
          <xs:element minOccurs="0" name="nome" type="xs:string" />
          <xs:element minOccurs="0" name="marca" type="xs:string" />
          <xs:element minOccurs="0" name="cor" type="tns:tipoCor" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getMinhaPrimeiraLista">
        <xs:sequence />
      </xs:complexType>
      <xs:complexType name="getMinhaPrimeiraListaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="tipoCor">
        <xs:restriction base="xs:string">
          <xs:enumeration value="BRANCO" />
          <xs:enumeration value="VERMELHO" />
          <xs:enumeration value="PRETO" />
          <xs:enumeration value="ROXO" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ping">
    <wsdl:part name="parameters" element="tns:ping" />
  </wsdl:message>
  <wsdl:message name="getMeusCarros">
    <wsdl:part name="parameters" element="tns:getMeusCarros" />
  </wsdl:message>
  <wsdl:message name="getMinhaPrimeiraLista">
    <wsdl:part name="parameters" element="tns:getMinhaPrimeiraLista" />
  </wsdl:message>
  <wsdl:message name="pingResponse">
    <wsdl:part name="parameters" element="tns:pingResponse" />
  </wsdl:message>
  <wsdl:message name="getMeusCarrosResponse">
    <wsdl:part name="parameters" element="tns:getMeusCarrosResponse" />
  </wsdl:message>
  <wsdl:message name="getMinhaPrimeiraListaResponse">
    <wsdl:part name="parameters" element="tns:getMinhaPrimeiraListaResponse" />
  </wsdl:message>
  <wsdl:portType name="PrimeiroSoapWS">
    <wsdl:operation name="ping">
      <wsdl:input name="ping" message="tns:ping" />
      <wsdl:output name="pingResponse" message="tns:pingResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMeusCarros">
      <wsdl:input name="getMeusCarros" message="tns:getMeusCarros" />
      <wsdl:output name="getMeusCarrosResponse" message="tns:getMeusCarrosResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMinhaPrimeiraLista">
      <wsdl:input name="getMinhaPrimeiraLista" message="tns:getMinhaPrimeiraLista" />
      <wsdl:output name="getMinhaPrimeiraListaResponse" message="tns:getMinhaPrimeiraListaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PrimeiroSoapWSServiceSoapBinding" type="tns:PrimeiroSoapWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ping">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="ping">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="pingResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMeusCarros">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMeusCarros">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMeusCarrosResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMinhaPrimeiraLista">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="getMinhaPrimeiraLista">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMinhaPrimeiraListaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrimeiroSoapWSService">
    <wsdl:port name="PrimeiroSoapWSPort" binding="tns:PrimeiroSoapWSServiceSoapBinding">
      <soap:address location="http://192.168.1.6:8080/webservice-java/PrimeiroSoapWS" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>